---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: rook-ceph-cluster
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.18.7
  url: oci://ghcr.io/rook/rook-ceph-cluster
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 1h
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: volsync
      namespace: storage
  values:
    monitoring:
      enabled: true
      createPrometheusRules: true
    toolbox:
      enabled: true
    ingress:
      # -- Enable an ingress for the ceph-dashboard
      dashboard:
        # labels:
        #   external-dns/private: "true"
        annotations:
          external-dns.alpha.kubernetes.io/target: "internal.${CLUSTER_DOMAIN}"
        host:
          name: &host "rook.${CLUSTER_DOMAIN}"
          path: "/"
        #   pathType: Prefix
        tls:
          - hosts:
              - *host
        ## Note: Only one of ingress class annotation or the `ingressClassName:` can be used at a time
        ## to set the ingress class
        ingressClassName: internal

    cephClusterSpec:
      dashboard:
        enabled: true
        urlPrefix: /
        ssl: false
        # prometheusEndpoint: http://prometheus-operated.monitoring.svc.cluster.local:9090
      cephConfig:
        global:
          bdev_enable_discard: "true" # quote
          bdev_async_discard_threads: "1" # quote
          osd_class_update_on_start: "false" # quote
          # Cant enable due to `Module 'diskprediction_local' has failed: No module named 'sklearn.svm.classes'`
          # device_failure_prediction_mode: local # requires mgr module
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      crashCollector:
        disable: false
      csi:
        readAffinity:
          enabled: true
      mgr:
        modules:
          # Cant enable due to `Module 'diskprediction_local' has failed: No module named 'sklearn.svm.classes'`
          - name: diskprediction_local
            enabled: false
          - name: insights
            enabled: true
          - name: pg_autoscaler
            enabled: true
          - name: rook
            enabled: true
      network:
        provider: host
        connections:
          requireMsgr2: true
      storage:
        useAllNodes: false
        useAllDevices: false
        # devicePathFilter: "/dev/disk/by-id/(ata-SAMSUNG_MZ7KM|ata-SSDSC2KG480G8R_PHY|ata-SAMSUNG_MZ7LH)*" # List these with: `talosctl get disks` then get name of disk and do `talosctl get disk diskname -o yaml` and check spec.symlinks
        nodes:
          - name: "talos-rock-1"
            devices:
              - "/dev/disk/by-partlabel/u-ceph"
          - name: "talos-rock-2"
            devices:
              - "/dev/disk/by-id/ata-INTEL_SSDSC2BX400G4R_BTHC6272038A400VGN" # Intel DC S3610, 400GB
              - "/dev/disk/by-id/ata-SSDSC2KG480G8R_PHYG147400A7480BGN" # Intel DC S4610, 480 GB
          - name: "talos-rock-3"
            devices:
              - "/dev/disk/by-id/ata-SAMSUNG_MZ7LH480HAHQ-00005_S45PNA1MB41492" # PM883, 480GB
              - "/dev/disk/by-id/ata-SAMSUNG_MZ7KM480HMHQ-00005_S3F4NX0JA06408" # SM863a, 480GB
        config:
          osdsPerDevice: "1"
      resources:
        mgr:
          limits: &mgr-hw
            cpu: 500m
            memory: 700Mi
          requests: *mgr-hw
        mon:
          limits: &mon-hw
            cpu: 500m
            memory: 1024Mi
          requests: *mon-hw
        osd:
          limits:
            cpu: 1
            memory: 1600Mi
          requests:
            cpu: 500m
            memory: 1600Mi
        prepareosd:
          limits:
            cpu: 1000m
            memory: 3000Mi
          requests:
            cpu: 50m
            memory: 200Mi
        mgr-sidecar:
          limits:
            cpu: 128m
            memory: 100Mi
          requests:
            cpu: 50m
            memory: 40Mi
        crashcollector:
          limits:
            cpu: 100m
            memory: 64M
          requests:
            cpu: 15m
            memory: 32M
        logcollector:
          limits:
            cpu: 50m
            memory: 32Mi
          requests:
            cpu: 5m
            memory: 16Mi
        cleanup:
          limits:
            cpu: 500m
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 100Mi
    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 3
        storageClass:
          enabled: true
          name: ceph-block
          isDefault: true
          reclaimPolicy: Delete
          allowVolumeExpansion: true
          volumeBindingMode: Immediate
          mountOptions: ["discard"]
          parameters:
            compression_mode: aggressive
            compression_algorithm: zstd
            imageFormat: "2"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4

    cephBlockPoolsVolumeSnapshotClass:
      enabled: true
      name: csi-ceph-blockpool
      isDefault: false
      deletionPolicy: Delete
      allowVolumeExpansion: true
      volumeBindingMode: Immediate
      mountOptions: ["discard"]

    cephFileSystems: []
    cephObjectStores: []
