---
originRequest:
  originServerName: "external.${CLUSTER_DOMAIN}"

ingress:
  - hostname: "${CLUSTER_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      noTLSVerify: true
  - hostname: "*.${CLUSTER_DOMAIN}"
    service: https://envoy-external.network.svc.cluster.local:443
    originRequest:
      noTLSVerify: true
  - service: http_status:404
