---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/gateway.networking.k8s.io/gateway_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: envoy-internal
  annotations:
    external-dns.alpha.kubernetes.io/target: &hostname internal.${CLUSTER_DOMAIN}
spec:
  gatewayClassName: envoy
  infrastructure:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: *hostname
      lbipam.cilium.io/ips: ${ENVOY_INTERNAL_LB_IP}
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      allowedRoutes:
        namespaces:
          from: All
      tls:
        certificateRefs:
          - kind: Secret
            name: ${CLUSTER_DOMAIN/./-}-production-tls
---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/gateway.envoyproxy.io/envoypatchpolicy_v1alpha1.json
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyPatchPolicy
metadata:
  name: envoy-internal
spec:
  jsonPatches:
    - type: type.googleapis.com/envoy.config.listener.v3.Listener
      name: network/envoy-internal/https
      operation: &operation
        op: add
        jsonPath: ..filters[*].typed_config.http_filters[?(@.name=="envoy.filters.http.compressor.zstd")].typed_config
        value:
          "@type": type.googleapis.com/envoy.extensions.filters.http.compressor.v3.Compressor
          choose_first: true
          compressor_library:
            name: envoy.compression.zstd.compressor
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.compression.zstd.compressor.v3.Zstd
          response_direction_config:
            remove_accept_encoding_header: true
    - type: type.googleapis.com/envoy.config.listener.v3.Listener
      name: network/envoy-internal/https
      operation:
        op: add
        jsonPath: /default_filter_chain/filters/*/typed_config/common_http_protocol_options/headers_with_overwrite/request_headers_to_add/-
        value:
          append: false
          header:
            key: X-Real-Ip
            value: "%DOWNSTREAM_REMOTE_ADDRESS_WITHOUT_PORT%"
    - type: type.googleapis.com/envoy.config.listener.v3.Listener
      name: network/envoy-internal/https-quic
      operation: *operation
  targetRef:
    group: gateway.networking.k8s.io
    kind: Gateway
    name: envoy-internal
  type: JSONPatch
