---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authelia
spec:
  interval: 1h
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  dependsOn:
    - name: lldap
      namespace: auth
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      hostIPC: false
      hostNetwork: false
      hostPID: false
      shareProcessNamespace: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      *app :
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6@sha256:86a1992d46273c58fd4ad95b626081dfaabfe16bd56944675169e406d1a660dd
            envFrom: &envFrom
              - secretRef:
                  name: authelia-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        containers:
          *app :
            image:
              repository: ghcr.io/authelia/authelia
              tag: 4.39.15
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 100Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            envFrom: *envFrom
            env:
              X_AUTHELIA_CONFIG: /config/configuration.yaml
              X_AUTHELIA_CONFIG_FILTERS: template
              AUTHELIA_SERVER_ADDRESS: tcp://:80
              AUTHELIA_SERVER_DISABLE_HEALTHCHECK: "true"
              AUTHELIA_TELEMETRY_METRICS_ADDRESS: tcp://0.0.0.0:8080
              AUTHELIA_TELEMETRY_METRICS_ENABLED: "true"
              AUTHELIA_THEME: dark
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

          anubis:
            image:
              repository: ghcr.io/techarohq/anubis
              tag: v1.24.0
            env:
              ED25519_PRIVATE_KEY_HEX:
                valueFrom:
                  secretKeyRef:
                    name: anubis-key-authelia
                    key: ED25519_PRIVATE_KEY_HEX
              TZ: "${TIMEZONE}"
              BIND: ":8923"
              DIFFICULTY: "3"
              SERVE_ROBOTS_TXT: "true"
              TARGET: "http://localhost:80"
            ports:
              - name: anubis
                containerPort: &anubisPort 8923
            resources:
              limits:
                memory: 100Mi
              requests:
                cpu: 26m
                memory: 100Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    # defaultPodOptions:
    # topologySpreadConstraints:
    #   - maxSkew: 1
    #     topologyKey: kubernetes.io/hostname
    #     whenUnsatisfiable: DoNotSchedule
    #     labelSelector:
    #       matchLabels:
    #         app.kubernetes.io/name: *app
    service:
      *app :
        controller: *app
        ports:
          http:
            port: *port
          anubis:
            port: *anubisPort
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: metrics
    route:
      *app :
        hostnames: ["auth.${CLUSTER_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: *app
                port: anubis
            # filters:
            #   - type: RequestHeaderModifier
            #     requestHeaderModifier:
            #       set:
            #         - name: X-Real-Ip
            #           value: "%DOWNSTREAM_REMOTE_ADDRESS_WITHOUT_PORT%"
    persistence:
      config:
        enabled: true
        type: configMap
        name: authelia-config
        globalMounts:
          - path: /config/configuration.yaml
            subPath: configuration.yaml
            readOnly: true
