---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./secret.sops.yaml
  - ./referencegrant.yaml
configMapGenerator:
  - name: authelia-config
    files:
      - configuration.yaml=./config/configuration.yaml
generatorOptions:
  disableNameSuffixHash: true
