---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./kubernetesupgrade.yaml
  # # Disable TalosUpgrade because it does not work with the custom schematic of my Rock 5B+ SBCs.
  # - ./talosupgrade.yaml
