# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
metadata:
  name: cluster-17
  annotations:
    # required for seamless bootstrap: https://github.com/cloudnative-pg/cloudnative-pg/issues/5778#issuecomment-2783417464
    cnpg.io/skipEmptyWalArchiveCheck: "enabled"
kind: Cluster
spec:
  instances: 3
  imageCatalogRef:
    apiGroup: postgresql.cnpg.io
    kind: ClusterImageCatalog
    major: 17
    name: postgresql-minimal-trixie
  enableSuperuserAccess: true
  superuserSecret:
    name: pg-secret
  storage:
    size: 5Gi
    storageClass: local-hostpath
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 250m
  postgresql:
    parameters:
      dynamic_shared_memory_type: sysv
      shared_buffers: 128MB
  bootstrap:
    # initdb: {}
    recovery:
      source: &recoveryServer cluster-17-v6

  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: cluster-17-backup-local
        serverName: &currentServer cluster-17-v6

  # Note: externalClusters is needed when recovering from an existing cnpg cluster
  externalClusters:
    - name: *recoveryServer
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: cluster-17-backup-local
          serverName: *recoveryServer
---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/barmancloud.cnpg.io/objectstore_v1.json
apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: cluster-17-backup-local
spec:
  retentionPolicy: 15d
  instanceSidecarConfiguration:
    resources:
      limits:
        memory: 512Mi
        cpu: 1
      requests:
        memory: 128Mi
        cpu: 10m
  configuration:
    destinationPath: s3://cnpg/cluster-17/
    endpointURL: http://versity.storage.svc.cluster.local:7070
    s3Credentials:
      accessKeyId:
        name: s3-creds
        key: ACCESS_KEY_ID
      secretAccessKey:
        name: s3-creds
        key: SECRET_KEY
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgresql.cnpg.io/scheduledbackup_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: cluster-17
spec:
  backupOwnerReference: self
  cluster:
    name: cluster-17
  schedule: "0 37 2 ? * *"
  immediate: true
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: cluster-17
spec:
  selector:
    matchLabels:
      cnpg.io/cluster: cluster-17
  podMetricsEndpoints:
    - port: metrics
