---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/ocirepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: cloudnative-pg
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.26.1
  url: oci://ghcr.io/cloudnative-pg/charts/cloudnative-pg
  # verify:
  #   provider: cosign
  #   matchOIDCIdentity:
  #     - issuer: ^https://token.actions.githubusercontent.com$
  #       subject: ^https://github.com/cloudnative-pg/charts/.*
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name cloudnative-pg
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *name
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    replicaCount: 2
    nodeSelector:
      kubernetes.io/arch: amd64
    crds:
      create: true
    resources:
      requests:
        cpu: 15m
        memory: 128Mi
      limits:
        cpu: 125m
        memory: 128Mi
    monitoring:
      podMonitorEnabled: true
      grafanaDashboard:
        create: true
